.shareDiv section {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #e9ebff60;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.shareDiv h1 {
    font-weight: bold;
    color: purple;

}

.shareDiv h2 {
    color: purple;
}

.shareDiv input {
    padding: 1em;
    background-color: white;
    color: black;
    outline: none !important;
}

.shareDiv textarea {
    background-color: white;
    color: black;
    outline: none !important;
    height: 90px;

}

.rewards {
    color: black;
}

.shareDiv label {
    color: black;
    padding-bottom: 0.5em;
}

.shareDiv form button {
    margin-top: 2em !important;
}

.shareDiv h1 {
    text-transform: capitalize;
}

@media screen and (max-width: 400px) {

    .shareDiv h1 {
        font-size: 1.53em;
    }

    .shareDiv {
        padding: 1em !important;
    }
}