.HeroDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3em 0;
}

.HeroDiv_text {
    width: 50%;
    text-align: left;

}

.HeroDiv_text h1 {
    font-size: 4em;
    text-transform: uppercase;

}

.HeroDiv_text p {
    font-size: 1.3em;
    color: rgb(214, 214, 214);

}


.InvoiceImg {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InvoiceImg img {
    width: 600px;
    height: 100%;
}

.hero_Share p {
    width: 60%;
    text-align: center;
    padding: 1em 0 2em 0;
    color: white;
    font-size: 1.3em;
}

.hero_Share h1 {
    text-align: center;
    padding-top: 2em;
    color: white;
    font-size: 2em;
}

.hero_Share img {
    width: 900px;
    height: 100%;
    border-radius: 2em;
}

@media screen and (max-width: 1539px) {

    .HeroDiv_text h1 {
        font-size: 4em;
        text-transform: uppercase;

    }
}

@media screen and (max-width: 1249px) {

    .HeroDiv_text h1 {
        font-size: 3em;

    }
}



@media screen and (max-width: 1149px) {

    .HeroDiv_text h1 {
        font-size: 2.5em;

    }
}


@media screen and (max-width: 900px) {

    .HeroDiv {
        flex-direction: column;
        text-align: center;
    }

    .HeroDiv_text,
    .InvoiceImg {
        width: 100%;
        text-align: center;
    }

    .HeroDiv_text h1 {
        font-size: 2.4em;
        width: 100%;
    }

    .hero_Share p {
        width: 100%;
    }
}

/* HeroDiv */

@media screen and (max-width: 900px) {

    .HeroDiv_text h1 br {
        display: none;
    }

    .HeroDiv_text h1 {
        font-size: 2em;
    }

}